@charset "utf-8";

@media only screen and (min-width: 1400px) {
	
	.t8 								{ font-size:8px;}
	.t10 								{ font-size:10px;}
	.t12 								{ font-size:12px;}
	.t13 								{ font-size:13px;}
	.t14								{ font-size:14px;}
	.t16								{ font-size:16px;}
	.t18								{ font-size:18px;}
	.t20								{ font-size:20px;}
	.t24								{ font-size:24px;}
	.t25								{ font-size:20px;}
	.t30								{ font-size:30px;}
	.t34								{ font-size:34px;}
	.t40								{ font-size:40px;}
	.t44 								{ font-size:44px;}
	.t50								{ font-size:50px;}
	.t60								{ font-size:60px;}
	.t70								{ font-size:70px;}
	.t80								{ font-size:80px;}
	.t90								{ font-size:90px;}
	.t100								{ font-size:100px;}
	.t120								{ font-size:120px;}
	.t150								{ font-size:150px;}
	.t200								{ font-size:200px;}
	
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
	
	.t8 								{ font-size:8px; }
	.t10 								{ font-size:10px;}
	.t12 								{ font-size:12px;}
	.t13								{ font-size:13px; }
	.t14								{ font-size:14px;  }
	.t15								{ font-size:15px; }
	.t16								{ font-size:16px; }
	.t18								{ font-size:18px;  }
	.t20								{ font-size:20px;  }
	.t24								{ font-size:24px;  }
	.t25								{ font-size:20px;}
	.t30								{ font-size:30px; }
	.t34								{ font-size:34px;  }
	.t40								{ font-size:40px; }
	.t44 								{ font-size:43px;  }
	.t50								{ font-size:46px;  }
	.t60								{ font-size:50px; }
	.t70								{ font-size:60px; }
	.t80								{ font-size:70px;  }
	.t90								{ font-size:75px; }
	.t100								{ font-size:90px; }
	.t120								{ font-size:100px;  }
	.t150								{ font-size:120px;  }
	.t200								{ font-size:180px;}
	
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	
	.t8 								{ font-size:8px; }
	.t10 								{ font-size:10px; }
	.t12 								{ font-size:12px;  }
	.t13								{ font-size:13px;  }
	.t14								{ font-size:14px;  }
	.t15								{ font-size:15px;  }
	.t16								{ font-size:16px;  }
	.t18								{ font-size:17px;  }
	.t20								{ font-size:18px;  }
	.t24								{ font-size:20px;  }
	.t25								{ font-size:16px;  }
	.t30								{ font-size:24px;  }
	.t34								{ font-size:30px;  }
	.t40								{ font-size:34px;  }
	.t44 								{ font-size:38px;  }
	.t50								{ font-size:40px;  }
	.t60								{ font-size:45px;  }
	.t70								{ font-size:50px;  }
	.t80								{ font-size:60px;  }
	.t90								{ font-size:70px;  }
	.t100								{ font-size:80px;  }
	.t120								{ font-size:90px;  }
	.t150								{ font-size:100px; }
	.t200								{ font-size:140px; }
	
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	 .t8 								{ font-size:8px;  }
	.t10 								{ font-size:9px;  }
	.t12 								{ font-size:10px; }
	.t13								{ font-size:11px; }
	.t14								{ font-size:12px; }
	.t15								{ font-size:14px; }
	.t16								{ font-size:15px; }
	.t18								{ font-size:16px; }
	.t20								{ font-size:18px; }
	.t24								{ font-size:21px; }
	.t25								{ font-size:17px; }
	.t30								{ font-size:24px; }
	.t34								{ font-size:26px; }
	.t40								{ font-size:27px; }
	.t44 								{ font-size:28px; }
	.t50								{ font-size:29px; }
	.t60								{ font-size:30px; }
	.t70								{ font-size:45px; }
	.t80								{ font-size:50px; }
	.t90								{ font-size:60px; }
	.t100								{ font-size:70px; }
	.t120								{ font-size:80px; }
	.t150								{ font-size:100px; }
	.t200								{ font-size:120px; }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	
	.t8 								{ font-size:8px;  }
	.t10 								{ font-size:9px;  }
	.t12 								{ font-size:10px; }
	.t13								{ font-size:11px; }
	.t14								{ font-size:12px; }
	.t15								{ font-size:14px; }
	.t16								{ font-size:15px; }
	.t18								{ font-size:16px; }
	.t20								{ font-size:18px; }
	.t24								{ font-size:21px; }
	.t25								{ font-size:17px; }
	.t30								{ font-size:24px; }
	.t34								{ font-size:26px; }
	.t40								{ font-size:32px; }
	.t44 								{ font-size:35px; }
	.t50								{ font-size:38px; }
	.t60								{ font-size:30px; }
	.t70								{ font-size:42px; }
	.t80								{ font-size:46px; }
	.t90								{ font-size:50px; }
	.t100								{ font-size:50px; }
	.t120								{ font-size:60px; }
	.t150								{ font-size:70px; }
	.t200								{ font-size:100px; }
	
}

@media only screen and (max-width: 575px) {
	
	.t8 								{ font-size:8px;  }
	.t10 								{ font-size:9px;  }
	.t12 								{ font-size:10px; }
	.t13								{ font-size:11px; }
	.t14								{ font-size:12px; }
	.t15								{ font-size:14px; }
	.t16								{ font-size:15px; }
	.t18								{ font-size:16px; }
	.t20								{ font-size:18px; }
	.t24								{ font-size:20px; }
	.t25								{ font-size:16px; }
	.t30								{ font-size:21px; }
	.t34								{ font-size:22px; }
	.t40								{ font-size:23px; }
	.t44 								{ font-size:24px; }
	.t50								{ font-size:25px; }
	.t60								{ font-size:26px; }
	.t70								{ font-size:27px; }
	.t80								{ font-size:28px; }
	.t90								{ font-size:30px; }
	.t100								{ font-size:40px; }
	.t120								{ font-size:50px; }
	.t150								{ font-size:70px; }
	.t200								{ font-size:80px; }
	
}
