@charset "utf-8";

@media only screen and (min-width: 1400px) {
	.dN1400								{ display:none; }
	
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
	.dN1200								{ display:none; }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.dN992								{ display:none; }
	
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.dN768								{ display:none; }
	
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
	.dN576								{ display:none; }
}
@media only screen and (max-width: 575px) {
	.dN320								{ display:none; }
}


/* BOOTSTRAP */

@media screen and (min-width: 992px) {

	.dN_oPC 							{ display:none; }
	
}

@media screen and (max-width: 991px) {

	.dN_oS								{ display:none; }

	.baco1								{ background-image:url(banner_finanprimas_mobile.jpg); height: 100%; width: auto;}
	.baco2								{ background-image:url(../../resources/img/tranquilidad2.jpg); }

	.contenion-sidebar                  { display: block; }
	.contenion-parlelo                  { width:100%; height: 975px; }
	.sidebar                            { width:100%; position:relative; }
	
	.max500_oS							{ max-width:500px; }
	.mb-40_oS 							{ margin-bottom:-40px; }
	.t16_oS 							{ font-size:16px; }

}