.preloader {
    position: relative;
    text-align: center;
    padding: 2rem 0;
}
 .preloader img {
    margin: 0 auto;
    margin-bottom: 1rem;
    height: 50px;
}
 .preloader .bar-container {
    position: relative;
    height: 4px;
    width: 130px;
    background-color: #eee;
    margin: 0 auto;
    left: 0;
    right: 0;
}
 .preloader .bar-container .bar {
    content: "";
    display: inline;
    position: absolute;
    height: 100%;
    width: 0;
    right: 0;
    background-color: #fc723f;
}
 .preloader .bar-container .bar:nth-child(1) {
    animation: linear-animation 3s linear 1s infinite;
}
 .preloader .bar-container .bar:nth-child(2) {
    animation: linear-animation 3s linear 2s infinite;
}
 .preloader .bar-container .bar:nth-child(3) {
    animation: linear-animation 3s linear 3s infinite;
}
 @keyframes linear-animation {
    7% {
        right: 100%;
        width: 10%;
    }
    30% {
        right: 0%;
        width: 40%;
    }
    50% {
        right: 0%;
        width: 0%;
    }
    80% {
        right: 0%;
        width: 0%;
    }
    100% {
        right: 0%;
        width: 0%;
    }
}